<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ 'h1' | translate }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon color='warn'>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" color='accent'>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color='primary'>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon color='warn'>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" color='accent'>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color='accent'>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon color='warn'>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" color='accent'>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color='warn'>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon color='warn'>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" color='accent'>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode='side' [opened]="btnState | async">Drawer content</mat-drawer>
  <mat-drawer-content>
    <div [ngStyle]="{ height: '90vh' }">
      <button mat-button (click)="change()">open/close</button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
