<div [style.height]="'100vh'">
  <ese-navigation-layout>
    <h1 ese-nav-title>{{ 'page_title' | translate }}</h1>
    <div ese-nav-toolbar>
      <ese-language-select ></ese-language-select>
      <ese-theme-select></ese-theme-select>
    </div>
    <nav ese-nav-menu>
      <mat-nav-list>
        <a mat-list-item *ngFor="let option of (menuOptionsService.option$ | async)"
           [routerLink]="option?.link ?? '#'"
           (click)="conditionalCall(option?.callback)"
           routerLinkActive="selected"
        > {{ option.text }} </a>
      </mat-nav-list>
    </nav>
    <div ese-nav-content>
      <router-outlet></router-outlet>
    </div>
  </ese-navigation-layout>
</div>
