.no-data {
  display: flex;
  flex-direction: column;
  padding: 16px;

  > * {
    flex: 0 1 100%;
  }
}

.no-data-info {
  margin-top: 16px;
  text-align: center;
}

.wrapper {
  max-height: 70vh;
}

.wrapper > * {
  padding: 16px;
}


