<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar" role="presentation">{{initials}}</div>
    <mat-card-title>{{data.username}}</mat-card-title>
    <mat-card-subtitle>{{data.organization}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="data.email">{{'profile_display_email' | translate}}{{data.email}}</p>
    <p>
      {{data.about}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-button class="edit" *ngIf="isEditable" (click)='edit.emit()'>
        <mat-icon>edit</mat-icon>
        {{'profile_display_edit' | translate}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

