.wrapper {
  min-height: 90vh;
  max-width: 1250px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex: 0.1 1 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.illustration {
  flex: 0.1 1 400px;
}

.error {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: 450px;

  > h1 {
    margin-top: 32px;
    text-align: center;
  }
}
