.wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 8px;

  @media(min-width: 752px) {
    padding-top: 32px;
  }
}

.content {
  flex: 0 1 320px;
  padding: 16px;
}

.illustration {
  flex: 0.1 1 400px;
  padding: 16px;
  display: none;

  @media(min-width: 752px) {
    display: block;
  }
}

.buttons {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

.info {
  margin-right: 16px;
}
