<button mat-icon-button [matMenuTriggerFor]="menu"
        [attr.aria-live]="'select_theme' | translate"
        [matTooltip]="'select_theme' | translate">
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="select(themes.DARK)">
    <mat-icon>{{ (theme$ | async) === themes.DARK ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
    {{ 'dark_theme' | translate }} 🌚
  </button>
  <button mat-menu-item (click)="select(themes.LIGHT)">
    <mat-icon>{{ (theme$ | async) === themes.LIGHT ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
    {{ 'light_theme' | translate }} 🌞
  </button>
</mat-menu>
